In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2020-02-22 20:40:19,-0.60,73.08,82.15,81,89,14.03
1,1,Albany,US,2020-02-22 20:40:18,42.60,-73.97,44.01,33,20,10.29
2,2,Constitucion,CL,2020-02-22 20:42:38,-35.33,-72.42,62.53,72,0,6.11
3,3,College,US,2020-02-22 20:42:38,64.86,-147.80,10.99,84,90,8.05
4,4,West Wendover,US,2020-02-22 20:42:39,40.74,-114.07,39.20,48,1,5.82

In [ ]:
city_data_df.dtypes

In [ ]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Ask the customer to add a rain and snow values
Rain= input("Do you want it to be raining? (yes/no)?")
Snow= input("Do you want it to be snowing? (yes/no)")

In [ ]:
# filter the dataset to find the cities
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                 (city_data_df["Max Temp"] >= min_temp),:]
if Rain=="no":
    preferred_cities_df=preferred_cities_df.loc[(preferred_cities_df["["Rain inches(last 3 hrs)"]>0"] <= max_temp,:]