In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key
%matplotlib notebook

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
0,0,Champasak,LA,70.92,clear sky,14.75,106.00,NaN
1,3,Ushuaia,AR,50.00,drizzle,-54.80,-68.30,Albatros Hotel
2,6,Bethel,US,48.99,clear sky,41.37,-73.41,Courtyard by Marriott Danbury
3,8,Kapaa,US,66.20,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
4,9,Teguise,ES,73.40,haze,29.06,-13.56,B&B La Casona de Nazaret
5,12,Cervo,ES,71.01,clear sky,43.67,-7.41,Hotel Spa Galatea
6,13,Sao Filipe,CV,67.75,overcast clouds,14.90,-24.50,Tortuga B&B
7,16,Dikson,RU,28.87,light snow,73.51,80.55,NaN
8,19,Nouadhibou,MR,66.20,overcast clouds,20.93,-17.03,El Medina
9,20,Dalbandin,PK,71.20,clear sky,28.89,64.41,Gidaan Guest House

In [3]:
Go_to_df=vacation_df.loc[(vacation_df["Country"]=="ES"),:]
Go_to_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
4,9,Teguise,ES,73.40,haze,29.06,-13.56,B&B La Casona de Nazaret
5,12,Cervo,ES,71.01,clear sky,43.67,-7.41,Hotel Spa Galatea
50,115,Bermeo,ES,70.00,clear sky,43.42,-2.72,Eco-Hotel Mundaka
182,362,Huescar,ES,68.00,clear sky,37.81,-2.54,Hotel El Ma単o

In [4]:
Teguise_df=Go_to_df.loc[(Go_to_df["City"]=="Teguise"),:]
Teguise_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
4,9,Teguise,ES,73.4,haze,29.06,-13.56,B&B La Casona de Nazaret

In [5]:
Cervo_df=Go_to_df.loc[(Go_to_df["City"]=="Cervo"),:]
Cervo_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
5,12,Cervo,ES,71.01,clear sky,43.67,-7.41,Hotel Spa Galatea

In [6]:
Bermeo_df=Go_to_df.loc[(Go_to_df["City"]=="Bermeo"),:]
Bermeo_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
50,115,Bermeo,ES,70.0,clear sky,43.42,-2.72,Eco-Hotel Mundaka

In [7]:
Huescar_df=Go_to_df.loc[(Go_to_df["City"]=="Huescar"),:]
Huescar_df

,City_ID,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
182,362,Huescar,ES,68.0,clear sky,37.81,-2.54,Hotel El Ma単o

In [68]:
from  pandas import DataFrame
Loc_Huescar_df=DataFrame(Huescar_df,columns=['Lat','Lng'])
Loc_Huescar_list=Loc_Huescar_df.astype(str)
Loc_Huescar_list=Loc_Huescar_list.values.tolist()
Loc_Huescar_list=tuple(Loc_Huescar_list)
Loc_Huescar_list

(['37.81', '-2.54'],)

In [69]:
Loc_Bermeo_df=DataFrame(Bermeo_df,columns=['Lat','Lng'])
Loc_Bermeo_list=Loc_Bermeo_df.astype(str)
Loc_Bermeo_list=Loc_Bermeo_list.values.tolist()
Loc_Bermeo_list=tuple(Loc_Bermeo_list)
Loc_Bermeo_list

(['43.42', '-2.72'],)

In [70]:
#Loc_Cervo_list=Loc_Cervo_df.values.tolist()
#Loc_Cervo_list = str(Loc_Cervo_df["Lat"])+"," + str(Loc_Cervo_df["Lng"])
#Loc_Cervo_list = ','.join(Loc_Cervo_df["Lat"],str(Loc_Cervo_df["Lng"])
#Loc_Cervo_list=Loc_Cervo_df[["Lat", "Lng"]]

Loc_Cervo_df=DataFrame(Cervo_df,columns=['Lat','Lng'])
Loc_Cervo_list=Loc_Cervo_df.astype(str)
Loc_Cervo_list=Loc_Cervo_list.values.tolist()
Loc_Cervo_list=tuple(Loc_Cervo_list)
Loc_Cervo_list

(['43.67', '-7.41'],)

In [75]:
Loc_Teguise_df=DataFrame(Teguise_df,columns=['Lat','Lng'])
Loc_Teguise_list=Loc_Teguise_df.astype(str)
Loc_Teguise_list=Loc_Teguise_list.values.tolist()
Loc_Teguise_list=tuple(Loc_Teguise_list)
Loc_Teguise_list

(['29.06', '-13.56'],)

In [76]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
#gmaps.configure(api_key='key')

In [77]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current weather description</dt><dd>{Weather description}</dd>
</dl>
"""

In [78]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in Go_to_df.iterrows()]

In [80]:
fig=gmaps.figure()
Teguise2Cervo=gmaps.directions_layer(Loc_Teguise_list,Loc_Teguise_list)

fig.add_layer(Teguise2Cervo)
fig

TraitError: (['29.06', '-13.56'],) is not a valid location. Locations must have length 2.